body {
  height: 100%;
}

.categories {
  margin: 3rem auto 3rem auto;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  background-color: white;
  width: 90%;
  max-width: 30rem;
}

.ul_tag {
  list-style: none;
  padding: 0;
}

.li_tag {
  margin: 1rem 0;
}

.a_tag {
  display: block;
  padding: 1rem;
  width: 100%;
  text-decoration: none;
  border: 1px solid #ccc;
  color: #1b1b1b;
  font-weight: bold;
}

.a_tag:hover,
a.tag:active {
  background-color: #ccc;
}

@media(max-width: 576px) {
.footer {
    position: relative;
}
}
