body {
  background-color: #e7e7e7;
}

.summary {
  margin: 3rem auto 3rem auto;
  padding: 2rem;
  width: 90%;
  max-width: 90rem;
  border-radius: 16px;
  background-color: #65A5D1;
  position: relative;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  height: 22rem;
}

.summary_h2 {
  color: white;
  font-size: 4.5rem;
  margin-bottom: 1.5rem;
}

.sum_article {
  position: absolute;
  top: 2rem;
  right: 3rem;
  padding: 1rem 2rem;
  border-radius: 12px;
  text-align: right;
  color: white;
}

.sum_article_img {
  width: 20rem;
  height: 12rem;
  border-radius: 12px;
  border: 5px solid white;
  margin-bottom: 1rem;
}

.sum_a {
  font-weight: bold;
  color: white;
  text-decoration: none;
}

.sum_time {
  font-weight: bold;
}

.read-later {
  margin: 2rem 0;
}

.rl_btn {
  background-color: transparent;
  border: 1px solid white;
  padding: 0.5rem 2rem;
  font: inherit;
  color: white;
  cursor: pointer;
}

.rl_btn:hover,
.rl_btn:active {
  background-color: white;
  color: #390281;
}

main {
  width: 90%;
  max-width: 90rem;
  margin: 3rem auto;
  background-color: white;
  padding: 1rem;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
}

.tags {
    display: flex;
}

.tag {
    background-color: white;
    color: #390281;
    padding: 0.5rem 1rem;
    border-radius: 12px;
    margin-right: 1rem;
}

.tag a {
    text-decoration: none;
    text-weight: bold;
}

#comment-form {
  margin: 3rem auto;
  width: 90%;
  max-width: 40rem;
  border: none;
  background-color: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  padding: 1rem;
}

#comment-form button {
  font: inherit;
  background-color: #390281;
  color: white;
  border: 1px solid #390281;
  padding: 0.5rem 1.5rem;
  border-radius: 6px;
  cursor: pointer;
}

#comment-form button:hover,
#comment-form button:active {
  background-color: #4f0ba7;
  border-color: #4f0ba7;
}

.form-control1 label {
  font-weight: bold;
  margin-bottom: 0.5rem;
  display: block;
}

.form-control1 input,
.form-control1 textarea {
  display: block;
  width: 100%;
  font: inherit;
  padding: 0.25rem;
  margin-bottom: 1rem;
}

.errorlist {
  list-style: none;
  margin: 0.5rem 0;
  padding: 0;
  color: #d6000b;
}

.invalid label {
  color: #d6000b;
}

.invalid input,
.invalid textarea {
  border-color: #d6000b;
  background-color: #ffe6e7;
}

#alert {
  margin: 8rem auto;
  border: 1px solid #d6000b;
  background-color: #ffe6e7;
  padding: 1rem;
  width: 90%;
  max-width: 40rem;
}

#alert a {
  text-decoration: none;
  border: 1px solid #d6000b;
  background-color: #d6000b;
  color: white;
  padding: 0.25rem 1.5rem;
  border-radius: 6px;
}

#comments {
  margin: 3rem auto 1rem auto;
  width: 90%;
  max-width: 60rem;
  border-radius: 12px;
  background-color: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  padding: 1rem 2rem;
}

#comments ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#comments li {
  margin-bottom: 1rem;
  border-bottom: 2px solid #ccc;
}

#comments li:last-of-type {
  border-bottom: none;
}

#comments h2 {
  color: #65A5D1;
}

.recommended-title {
  text-align: center;
  margin-bottom: 5rem;
}

#comments span {
  font-style: italic;
}

#comments p {
  font-size: 1.5em;
}

@media(max-width: 1000px) {
  .summary {
    box-sizing: border-box;
    position: relative;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
    height: calc(100vh - 100px)
  }
  .summary_h2 {
    display: block;
    width: 100%;
    font-size: 2.4rem;
    text-align: center;
    margin: 0;
    margin-bottom: 0.5rem;
  }
  .sum_article {
    position: relative;
    text-align: center;
    right: 0;
    top: 0;
    padding: 0;
  }
  .tags {
    text-align: center;
    margin-bottom: 2rem;
  }
    .sum_article_img {
    display: flex;
    text-align: center;
    max-width: 100%;
  }
}


@media(max-width: 576px) {
  .summary {
    box-sizing: border-box;
    position: relative;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
    height: calc(100vh - 100px)
  }
  .summary_h2 {
    display: block;
    width: 100%;
    font-size: 2.4rem;
    text-align: center;
    margin: 0;
    margin-bottom: 0.5rem;
  }
  .sum_article {
    position: relative;
    text-align: center;
    right: 0;
    top: 0;
    padding: 0;
  }
  .tags {
    text-align: center;
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
  }
  .tag {
    display: flex;
  }
  .sum_article_img {
    display: flex;
    text-align: center;
    max-width: 100%;
  }
}
