{% extends 'base.html' %}
{% load static %}

{% block title %}
    All Posts
{% endblock %}

{% block css_files %}
    <link rel="stylesheet" href="{% static 'blog/all-posts.css' %}">
{% endblock %}

{% block content%}

  <div class="album py-5">
    <h2 class="all-posts-title">All posts!</h2>
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            {% for post in posts %}
                {% include 'blog/includes/post.html' %}
            {% endfor %}
        </div>
    </div>
  </div>

{% endblock %}
