{% extends 'base.html' %}
{% load static %}

{% block css_files %}
    <link rel="stylesheet" href="{% static 'blog/category.css' %}">
{% endblock %}

{% block content%}

<div class="album py-5">
    <div class="container">
        <h2 class="category-title">{{ tag.caption }} Posts</h2>
        {% if posts %}
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                {% for post in posts %}
                    {% include 'blog/includes/post.html' %}
                {% endfor %}
                </div>
        {% else %}
            <p>There are no posts with this tag, but this is only for now.</p>
        {% endif %}
    </div>
</div>

{% endblock %}
