{% extends 'base.html' %}
{% load static %}

{% block css_files %}
  <link rel="stylesheet" href="{% static 'blog/categories.css' %}">
{% endblock %}

{% block title %}
  Categories
{% endblock %}

{% block content %}
  <section class="stored-posts foo">
    <h2 class="h2_tag">All categories</h2>
    <ul class="ul_tag">
      {% for tag in tags %}
        <li class="li_tag">
          <a href="{% url 'category-page' tag.slug %}" class="a_tag">
            {{ tag.caption }}
          </a>
        </li>
      {% endfor %}
    </ul>
  </section>
{% endblock %}
