{% extends 'base.html' %}
{% load static %}

{% block title %}
    My Blog
{% endblock %}

{% block css_files %}
    <link rel="stylesheet" href="{% static 'blog/index.css' %}">
{% endblock %}

{% block content%}
    <section id="welcome">
        <header>
            <img src="{% static 'blog/images/avatar.jpeg' %}">
            <h2>EVGENY'S BLOG</h2>
        </header>
        <p>Welcome to blog!</p>
    </section>

    <section id="latest-posts">
        <h2>The most popular posts!</h2>
        <ul>
            {% for post in posts %}
                {% include 'blog/includes/post.html' %}
            {% endfor %}
        </ul>
    </section>

    <section id="about">
        <h2>Lorem ipsum dolor sit.</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, aliquam, architecto blanditiis culpa
            dolores earum et ex id iste laborum, maiores mollitia nam officia perspiciatis possimus quo totam
            voluptas voluptates?</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat, incidunt?</p>
    </section>

{% endblock %}
