{% extends 'base.html' %}
{% load static %}

{% block css_files %}
    <link rel="stylesheet" href="{% static 'blog/post-detail.css' %}">
{% endblock %}

{% block content%}

{% if comment_form.errors %}
    <div id="alert">
        <h2>Something wrong with your comment!</h2>
        <a href="#comment-form">You can fix it</a>
    </div>
{% endif %}

<section id="summary">
    <h2>{{ post.title }}</h2>
    <div class="tags">
        {% for tag in post_tags %}
            <div class="tag">
                <a href="{% url 'category-page' tag.slug %}">
                    {{ tag }}
                </a>
            </div>
        {% endfor %}
    </div>

{% if request.user.is_authenticated%}
    <div id="read-later">
        <form action="{% url 'read-later-page' %}" method="POST">
            {% csrf_token %}
            <input type="hidden" value="{{ post.id }}" name="post_id">
            <button>
                {% if saved_for_later %}
                    Remove from 'Read Later'
                {% else %}
                    Read Later
                {% endif %}
            </button>
        </form>
    </div>
{% endif %}

    <article>
        <img src="{{ post.image.url }}">
        <address>By <a href="mailto:{{ post.author.email }}">{{ post.author }}</a></address>
        <div>
            Last updated on
            <time>{{ post.date }}, {{ post.time }}</time>
        </div>
    </article>
</section>

<main>
    {{ post.content|linebreaks }}
</main>

{% if all_comments %}
    <section id="comments">
        <ul>
            {% for comment in all_comments %}
                <li>
                    <h2>{{ comment.user }}</h2>
                    <p id="text-comment">{{ comment.user_text|linebreaks }}</p>
                    <span>{{ comment.date }}, {{ comment.time }}</span>
                </li>
            {% endfor %}
        </ul>
    </section>
{% endif %}

{% if request.user.is_authenticated %}
    <section id="comment-form">
        <form action="{% url 'post-detail-page' post.slug %}" method="POST">
            {% csrf_token %}

            {% for form_field in comment_form %}
                <div class="form-control1 {% if form_field.errors %}invalid{% endif %}">
                    {{ form_field.label_tag }}
                    {{ form_field }}
                    {{ form_field.errors }}
                </div>
            {% endfor %}
            <button>Save Comment</button>
        </form>
    </section>
{% endif %}

{% if related_posts %}
  <div class="album py-5">
    <h2 class="recommended-title">Recommended posts!</h2>
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            {% for post in related_posts %}
                {% include 'blog/includes/post.html' %}
            {% endfor %}
        </div>
    </div>
  </div>
{% endif %}

{% endblock %}
